.text{
    display: flex;
    justify-content: center;
    align-items: center;
}
.text2{
    display: flex;
    justify-content: center;
    align-items: center;
}
.text3{
    display: flex;
    justify-content: center;
    align-items: center;
}